[submodule "Plugins/UEInteractSystem"]
	path = Plugins/UEInteractSystem
	url = https://github.com/Ji-Rath/UEInteractSystem
[submodule "Plugins/BattleAINodes"]
	path = Plugins/BattleAINodes
	url = https://github.com/Ji-Rath/AINodes
